<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    {{ title }}
  </h1>
  <ul>
    <li *ngFor="let product of products, let i = index">
      <label>{{product.item}}</label>
      <input type="text" id="qtty" name="qtty" placeholder="{{product.qtty}}">
      <button type="text" id="cost" name="cost">{{product.unitcost | currency:'USD'}}</button>

        <button class="btn btn-light">
          <b>{{product.qtty * product.unitcost | currency:'USD':number}}</b>
        </button>
      
      <button type="submit" id="submit" (click)="removeProduct(i)">Remove</button>
    </li>
  </ul>
</div>  


